@use "global" as *;

.intro {
    padding-block: rem(140) rem(160);
}

.intro__inner.inner {
    position: relative;
    z-index: 5;
}

.intro__contents {
    display: flex;
    gap: min(calc(120 / 1440 * 100vw), rem(120));

    @include mq("md") {
        flex-direction: column;
        gap: rem(80);
    }
}

.intro__textarea {
    padding-right: rem(32);
    align-self: center;
    flex-shrink: 0;

    @include mq("md") {
        padding: 0;
    }
}

.intro__title {
    font-weight: var(--fw-medium);
    font-size: rem(30);
    line-height: calc(60 / 30);
    letter-spacing: 0.1em;

    @include mq("md") {
        font-size: rem(24);
    }
}

.intro__text {
    margin-top: rem(32);
    font-size: rem(18);
    line-height: calc(30 / 18);
    letter-spacing: 0;

    @include mq("md") {
        font-size: rem(16);
    }
}


.intro__gallery {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: calc(28 / 1440 * 100vw);
    position: relative;
    margin-left: max(calc(50% - 50vw), rem(-40));

    @include mq("md") {
        gap: rem(16);
    }
}

.intro__img {
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
    will-change: opacity, transform;
}

.intro__img.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.intro__img--01 {
    width: min(calc(347 / 1440 *100vw), rem(347));
    height: auto;
    aspect-ratio: 347 / 252;

    @include mq("md") {
        width: min(calc(195 / 390 *100vw), rem(195));

    }
}

.intro__img--02 {
    width: min(calc(176 / 1440 *100vw), rem(176));
    height: auto;
    aspect-ratio: 176 / 280;
    position: absolute;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    top: rem(100);

    @include mq("md") {
        width: min(calc(100 / 390 *100vw), rem(100));

    }

}

.intro__img--03 {
    width: min(calc(300 / 1440 *100vw), rem(300));
    height: auto;
    aspect-ratio: 300 / 476;
    justify-self: right;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include mq("md") {
        width: min(calc(150 / 390 *100vw), rem(150));

    }

}

.intro__img--04 {
    width: min(calc(343 / 1440 *100vw), rem(343));
    height: auto;
    aspect-ratio: 343 / 268;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: min(calc(56 / 1440 * 100vw), rem(56));
    margin-top: rem(126);

    @include mq("md") {
        width: 100%;
    }
}

.intro__img picture,
.intro__img img {
    width: 100%;
    height: auto;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    transform: scale(1.08);
    transform-origin: center;
}