@use "global" as *;

.reservation {
    padding-block: rem(120);
    background-image:
        image-set(url(../images/bg_top-reservation.avif) type("image/avif"),
            url(../images/bg_top-reservation.jpg) type("image/jpg"));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: color-mix(in srgb, var(--black333) 50%, transparent);
    }
}

.reservation__inner.inner {
    position: relative;
    z-index: 1;
}

.reservation__contents {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: min(calc(380 / 1440 *100vw), rem(380));

    @include mq("md") {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

.reservation__content+.reservation__content {
    margin-top: rem(180);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.reservation__text {
    margin-top: rem(60);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.reservation__list+.reservation__list {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(20);
    }
}

.reservation__ttl,
.reservation__item {
    font-size: rem(16);
    line-height: calc(19.2/16);
}

.reservation__item {
    margin-top: rem(13);

    @include mq("md") {
        margin-top: rem(8);
    }
}

.reservation__item {}


.reservation__link {
    margin-top: rem(52);
}

.reservation__link+.reservation__link {
    margin-top: rem(13);
}